@model int

<div class="d-flex justify-content-center mt-1 ">
    <button class="btn text-secondary p-1 sort-button sort-asc" title="Сортировать по возрастанию" onclick="filterTable(this, @Model, false)"><i class="fa-solid fa-angle-up"></i></button>
    <button class="btn text-secondary p-1 sort-button sort-desc" title="Сортировать по убыванию" onclick="filterTable(this, @Model, true)"><i class="fa-solid fa-angle-down"></i></button>
</div>
